
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .date {
    background-color: rgb(6, 143, 130);
    border-radius: 5px;
    height:75px;
    }
    .date-special {
    background-color: rgb(170, 20, 10);
    border-radius: 5px;
    height:75px;
    }
  .day {
    width: 5%;
  }
  .nextmonth-date {
    color: goldenrod;
    background-color: gray;
    border-radius: 5px;
  }
  .nextmonth-date-special {
    color: goldenrod;
    background-color: rgb(100, 20, 10);
    border-radius: 5px;
  }
  .date-veryspecial {
    color: white;
    background-color: rgb(0, 105, 148);
    border-radius: 5px;
  }
  .divcalender {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .links{
    margin-left: auto;
    margin-right: auto;
  }
  .links-sub {
    border-radius: 5px;
    background-color: rgb(72, 91, 123);
    -webkit-text-fill-color: aliceblue;
    width: 50px;
    height: 30px;
  }
  .links-sub-current {
    border-radius: 5px;
    background-color:rgb(1, 70, 130);
    -webkit-text-fill-color: aliceblue;
    height: 30px;
    width: 30px;
  }
  .weekend {
    width: 5%;
  color: red;
  }